.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #e0e0e0;
}

.heroFeature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
